@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Carrinho de compras da SnackHub";
}

@if (!Model.Items.Any())
{
    <div class="empty-cart-message">
        <h4>Seu carrinho da SnackHub está vazio</h4>
        <a asp-controller="Product" asp-action="Index" class="btn btn-snackhub">
            Continuar comprando
        </a>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Subtotal</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity).ToString("C")</td>
                    <td>
                        <form method="post" asp-controller="ShoppingCart" asp-action="RemoveItemFromShoppingCart">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <button type="submit" class="btn btn-danger">Remover</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <strong>Total:</strong> @Model.Subtotal.ToString("C")
    </div>
}
