@model LoginPasswordViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Fazer Login";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="row" style="width: 100%; max-width: 400px;">
        <div class="col bg-white p-4 shadow-sm  rounded-3">
            <h3 class="mb-3 fw-bold text-center" style="font-size: 1.5rem;">Fazer login</h3>

            <p class="fw-bold mb-1" style="font-size: 0.9rem;">
                @Model.Email
                <a asp-action="LoginEmail" asp-controller="Account" class="ms-2">
                    Alterar
                </a>
            </p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @using (Html.BeginForm("LoginPassword", "Account", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Email)

                <div class="form-group mb-3">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="showPassword" onclick="togglePasswordVisibility()" />
                    <label class="form-check-label" for="showPassword">Mostrar senha</label>
                </div>

                <button type="submit" class="btn btn-warning w-100 rounded-pill" style="font-weight: bold;">Fazer login</button>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function togglePasswordVisibility() {
            var passInput = document.getElementById("Password");
            if (passInput.type === "password") {
                passInput.type = "text";
            } else {
                passInput.type = "password";
            }
        }
    </script>
}
